<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Dice-Roll')">
    <meta charset="UTF-8">
    <title>Dice Roll</title>
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>

<header th:replace="partials/header :: ('Roll the Dice!')"></header>


<h5>Guess the number the die lands on!</h5>

<a th:href="@{/roll-dice/1}">1</a><br>
<a th:href="@{/roll-dice/2}">2</a><br>
<a th:href="@{/roll-dice/3}">3</a><br>
<a th:href="@{/roll-dice/4}">4</a><br>
<a th:href="@{/roll-dice/5}">5</a><br>
<a th:href="@{/roll-dice/6}">6</a>


<div th:if="${userGuess}">
    Your guess was <span th:text="${userGuess}"></span>.<br>
    The rolled number was <span th:text="${randomNum}"></span>.
</div>

<h4 th:if="${isUserGuessCorrect}">
    You guessed correctly!
</h4>
<h4 th:if="${isUserGuessCorrect != null && isUserGuessCorrect}">
    You didn't guess correctly!
</h4>


<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>